/* .header-bar{
    background-color: red;
} */

/* .nav-bar{
    background-color: yellow;
} */


/* .section-content{
    background-color: rgba(0, 0, 255, 0.26);

} */
/* .aside-content{
    background-color: rgba(184, 40, 30, 0.596);
} */
/* .article-conten-1{
    background-color: rgb(124, 19, 124);
} */
/* .footer-bar{
    background-color: violet;
} */
a{
    text-decoration: none;
}
/* Header-bar */
.top_header_area{
    width: 100%;
}
.top_header_area::after{
    content: "";
    display: table;
    clear: both;
}

.block{
    width: 50%;
    float: left;
    
}

.login_register_area{
    width: 50%;
    float: left;
    
}
.login_register_area::after{
    content: "";
    display: table;
    clear: both;
}

.login-header{
width: 50%;
float: left;
text-align: right;


}
.register-header{
    width: 45%;
    float: left;
    margin-left: 2%;
}
.login_register_area a{
    text-decoration: none;
    color: gray;
}
/* LOGO + NAV-Bar */
.logo_area #nhathoang-logo{
    text-decoration: none;
    color: black;
    font-size: 50px;
    
}
.logo_area{
    text-align: center;
    font-family: 'Brush Script MT', cursive;
    color: black;
    font-size: 20px;
    margin-top: 40px;
}
.navbar_area #narbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    
    
}
.navbar_area li{
    display: inline;
}
.navbar_area .nav-link{
    color: black;
    padding: 16px 30px ;
    text-transform: uppercase;

}
.navbar_area #active{
    color: #fc6c3f;
}
.navbar_area {
    text-align: center;
    margin-top: 45px;

}
.nav-bar::after{
    content: "";
    display: table;
    clear: both;
}
/* Content */
.content::after{
    content: "";
    display: table;
    clear: both;
}
.section-content{
    float: left;
    width: 50%;
    
}
.section-content::after{
    content: "";
    display: table;
    clear: left;
}
.aside-content{
    float: left;
    width: 50%;
}
.aside-content::after{
    content: "";
    display: table;
    clear: left;
}
#post-thumb{
    width: 100%;
}
#post-thumb img{
    width: 80%;
    margin-left: 10%;
    border-radius: 10px;
}

.article-conten-2{
    clear: both;
}
.post-author-date-area{
    width: 100%;
}
.post-author-date-area::after{
    content: "";
    display: table;
    clear: both;
}
.post-author-content{
    width: 24%;
    float: left;
    border-right: 1px solid gray;
}
.post-date-content{
    width: 45%;
    float: left;
   
}
.post-author-content a{
    margin-left: 42%;
    color:gray;
}
.post-date-content a{
    margin-left: 3%;
    color: gray;
}
#post-content-right-p{
    margin-left: 10%;
}
.post-headline{
    margin-left: 10%;
}
.read-more{
    margin-left: 10%;
    border: 1px solid gray;
    border-radius: 23px;
    padding: 1%;
    width: 14%;
}
/* SideBar */
.widget-title{
    text-align: center;
    
}
.widget-title h6{
    font-size: 18px;
    background-color: #fee2d9;
    width: 80%;
    height: 37px;
    border-radius: 20px;
    margin-left: 8%;
    padding-top: 2%;

}
.about-me-widget-thumb img{
    border-radius: 50%;
    width: 30%;
    height: 246px;
    margin-left: 35%;
}
.font-shadow-into-light{
    text-align: center;
}
.about-me-widget p{
    text-align: center;
}
.subscribe-link{
    width: 100%;
    height: 50px;
    margin-top: 3%;
    margin-left: 31%;
}
.subscribe-link::after{
    content: "";
    display: table;
    clear: both;
}
.facebook{

    border-radius: 50%;
    border: 2px solid #0436ef;
    width: 8%;
    margin-right: 12px;
    float: left;
}
.Twitter{
    border-radius: 50%;
    border: 2px solid #405DE6;
    width: 8%;
    float: left;
    margin-right: 12px;
}
.Instagram{
    border-radius: 50%;
    border: 2px solid #F77737;
    width: 8%;
    float: left;
    margin-right: 12px;
}
.GOOGLE{
    border-radius: 50%;
    border: 2px solid red;
    width: 8%;
    float: left;

}
.facebook p{
    color: #0436ef;
    font-size: 36px;

}
.Twitter p{
    color: #405DE6;
    font-size: 36px;
}
.Instagram p{
    color: #F77737;
    font-size: 36px;
}
.GOOGLE p{
    color: red;
    font-size: 36px;
}
/* Content */
.single-populer-post{
    width: 100%;
}
.single-populer-post::after{
    content: "";
    display: table;
    clear: both;
}
.single-populer-post-ing{
    width: 40%;
    float: left;
    margin-left: 9%;
}
.single-populer-post-ing img{
    width: 100%;
    border-radius: 30px;
}
.post-content{
    width: 40%;
    float: left;
    margin-left: 2%;
}
#post-content-h6{
    color: black;
    font-size: 20px;
}
#post-content-p{
    font-size: 17px;
    color: gray;
}
.single-populer-post {
    margin-bottom: 3%;
}
.single-post-mid{
    width: 100%;
    margin-left: 10%;
    margin-top: 3%;
}
.single-post-mid-2{
    width: 40%;
    float: left;
}
.single-post-mid-3{
    width: 40%;
    float: left;
    margin-left: 3%;
}
.post-thumb-mid-3 img{
    width: 100%;
    border-radius: 10px;
}
.post-thumb-mid-2 img{
    width: 100%;
    border-radius: 10px;
}
.single-post-mid-1{
    clear: left;
    margin-left: 10%;
}
.single-post-mid-1::after{
    content: "";
    display: table;
    clear: both;
}
.post-author-date-area-mid-2{
    width: 100%;
}
.post-author-date-area-mid-2::after{
    content: "";
    display: table;
    clear: both;
}
.post-author-mid-2{
    width: 28%;
    float: left;
    border-right: 1px solid gray;
}
.post-date-mid-2{
    width: 40%;
    float: left;
    margin-left: 1%;
}


.post-author-date-area-mid-3{
    width: 100%;
}
.post-author-date-area-mid-3::after{
    content: "";
    display: table;
    clear: both;
}
.post-author-mid-3{
    width: 28%;
    float: left;
    border-right: 1px solid gray;
}
.post-date-mid-3{
    width: 40%;
    float: left;
    margin-left: 1%;
}
.single-post-mid-3::after{
    content: "";
    display: table;
    clear: both;
}
.single-post-mid-1{
    clear: both;
    width: 100%;
}
.list-blog-left-1{
    width: 100%;
    margin-left: 10%;
}
.post-thumb-list-blog{
    width: 40%;
    float: left;
}
.post-thumb-list-blog img{
    width: 100%;
    border-radius: 10px;
}
.post-content-list-blog{
    width: 40%;
    float: left;
    margin-left: 3%;
}
.block-hr{
    clear: both;
    width: 88%;
    padding: 1%;
}
.post-author-date-area-list-blog{
    width: 100%;
}
.post-author-list-blog{
    width: 28%;
    float: left;
    border-right: 1px solid gray;
    font-size: 15px;
    color: gray;
}
.post-date-list-blog{
    width: 40%;
    float: left;
    margin-left: 1%;
    font-size: 15px;
    color: gray;
}
.post-headline-list-blog-p{
    font-size: 20px;
    color: black;
}
.read-more-list-blog-a{
    border: 1px solid gray;
    padding: 3%;
    width: 35%;
    border-radius: 20px;
}
/* Footer */
.footer_area{
    clear: both;
    text-align: center;
   
}
.copy_right_text{
    height: 60px;
}
.copy_right_text p{
    padding-top: 1%;
}
.block-hr-end{
    clear: both;
    padding-top: 5%;
    width: 100%;
}