

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    position: relative;
    z-index: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: #232d37;
    line-height: 1.25;
}

p {
    color: #51545f;
    font-size: 16px;
}

.section_padding_100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section_padding_100_70 {
    padding-top: 100px;
    padding-bottom: 70px;
}

.section_padding_50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.section_padding_50_20 {
    padding-top: 50px;
    padding-bottom: 20px;
}

.section_padding_150 {
    padding-top: 150px;
    padding-bottom: 150px;
}

.section_padding_200 {
    padding-top: 200px;
    padding-bottom: 200px;
}

.section_padding_80 {
    margin-top: 80px;
    margin-bottom: 80px;
}

.section_padding_80_50 {
    padding-top: 80px;
    padding-bottom: 50px;
}

.section_padding_30_80 {
    padding-top: 30px;
    padding-bottom: 80px;
}

.section_padding_80_0 {
    padding-top: 80px;
    padding-bottom: 0;
}

.section_padding_0_80 {
    padding-top: 0;
    padding-bottom: 80px;
}

img {
    max-width: 100%;
}

.mt-15 {
    margin-top: 15px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-100 {
    margin-top: 100px;
}

.mt-150 {
    margin-top: 150px;
}

.mr-15 {
    margin-right: 15px;
}

.mr-30 {
    margin-right: 30px;
}

.mr-50 {
    margin-right: 50px;
}

.mr-100 {
    margin-right: 100px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-100 {
    margin-bottom: 100px;
}

.ml-15 {
    margin-left: 15px;
}

.ml-30 {
    margin-left: 30px;
}

.ml-50 {
    margin-left: 50px;
}

.ml-100 {
    margin-left: 100px;
}

ul,
ol {
    margin: 0;
    padding: 0;
}



a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    font-weight: 500;
    outline: none;
}

li {
    list-style: none;
}




.yummy-table {
    display: table;
    height: 100%;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 2;
}

.yummy-table-cell {
    display: table-cell;
    vertical-align: middle;
}





.top_header_area .signup-search-area {
    height: 40px;
    position: relative;
    z-index: 3;
}

.top_header_area .signup-search-area a {
    font-size: 13px;
    color: #222;
}

.top_header_area .signup-search-area .login a {
    margin-right: 13px;
    border-right: 2px solid #c2c2c2;
    padding-right: 13px;
}

.top_header_area .signup-search-area .search_button {
    margin-left: 54px;
}

.top_header_area {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #ebebeb;
}

.top_header_area .signup-search-area {
    height: 40px;
    position: relative;
    z-index: 3;
}

.top_header_area .signup-search-area a {
    font-size: 13px;
    color: #222;
}

.top_header_area .signup-search-area .login a {
    margin-right: 13px;
    border-right: 2px solid #c2c2c2;
    padding-right: 13px;
}

.top_header_area .signup-search-area .search_button {
    margin-left: 54px;
}

#searchBtn {
    position: relative;
    z-index: 8;
}





.logo_area .nhathoang-logo {
	 font-family: 'Poppins', sans-serif;
    font-size: 60px;
    margin-bottom: 0;
    padding: 35px 0 20px 0;
    display: inline-block;
    color: #232d37;
}

.navbar.navbar-expand-lg {
    padding: 0;
}

.navbar.navbar-expand-lg .navbar-nav .nav-link {
    padding: 25px 30px;
    color: #232d37;
    text-transform: uppercase;
    font-size: 14px;
}

.navbar.navbar-expand-lg .navbar-nav .nav-link:hover,
.navbar.navbar-expand-lg .navbar-nav .active .nav-link {
    color: #fc6c3f;
}




/* carosel */



.categories {
	padding-top: 90px;
}

.categories.categories-grid {
	padding-top: 0;
}

.categories.categories-grid .categories__grid__post {
	border-top: 1px solid #ebebeb;
	padding-top: 50px;
}

.categories.categories-grid .categories__post {
	padding-top: 0;
}

.categories__item {
	height: 270px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-bottom: 30px;
}

.categories__item:hover .categories__hover__text {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.categories__item .categories__hover__text {
	background: #ffffff;
	display: inline-block;
	padding: 15px 20px 10px;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}

.categories__item .categories__hover__text h5 {
	font-size: 20px;
	color: #111111;
	text-transform: uppercase;
}

.categories__item .categories__hover__text p {
	color: #888888;
	font-weight: 600;
	margin-bottom: 0;
}








.post-thumb img {
    border-radius: 30px;
    margin-bottom: 30px;
}

.post-meta {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.post-author a,
.post-date a,
.post-favourite a,
.post-comments a,
.post-share a {
    color: #b5aec4;
    font-size: 14px;
}

.post-author a:hover,
.post-date a:hover,
.post-favourite a:hover,
.post-comments a:hover,
.post-share a:hover {
    color: #000;
}

.post-favourite a,
.post-comments a {
    margin-right: 15px;
}

.post-author a {
    margin-right: 30px;
    position: relative;
    z-index: 1;
}

.post-author a:after {
    width: 2px;
    height: 60%;
    content: '';
    position: absolute;
    top: 20%;
    right: -14px;
    z-index: 2;
    background-color: #b5aec4;
}

.single-post {
    margin-bottom: 30px;
}

.single-post h2,
.single-post h4 {
    margin: 10px 0;
    color: #232d37;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    text-transform: capitalize;
}

.single-post h2:hover,
.single-post h4:hover {
    color: #fc6c3f;
}

.single-post p {
    color: #51545f;
}

.single-post .read-more {
    font-size: 12px;
    color: #b5aeba;
    display: inline-block;
    border: 1px solid #ebebeb;
    border-radius: 30px;
    height: 40px;
    min-width: 170px;
    line-height: 40px;
    text-align: center;
}


.single-post .read-more:hover {
    color: #000;
    border: 1px solid #000;
}



.list-blog.single-post .post-thumb,
.list-blog.single-post .post-content {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    margin-right: 15px;
}

.list-blog.single-post .post-content {
    margin-right: 0;
    margin-left: 15px;
    margin-bottom: 30px;
}

.list-blog.single-post {
    margin-bottom: 30px;
    border-bottom: 1px solid #ebebeb;
}

.blog_area .col-12:last-of-type .list-blog.single-post {
    margin-bottom: 0;
    border-bottom: none;
}

.blog_area .col-12:last-of-type .list-blog.single-post .post-thumb img {
    margin-bottom: 0;
}



.instagram_gallery_item {
    position: relative;
    z-index: 1;
}

.instagram_gallery_item img {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    width: 100%;
}

.instagram_gallery_item .hover_overlay {
    background: rgba(252, 108, 63, 0.7);
    height: 100%;
    left: 0;
    opacity: 0;
   
    position: absolute;
    top: 0;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    width: 100%;
    z-index: 5;
}

.instagram_gallery_item:hover .hover_overlay {
    opacity: 1;
   
}

.instagram_gallery_item .follow-me a {
    font-size: 16px;
    color: #fff;
    font-weight: 400;
}

.instargram_area {
    position: relative;
    z-index: 1;
}

.instargram_area .owl-prev {
    position: absolute;
    width: 10%;
    background-color: transparent;
    height: 100%;
    top: 0;
    left: 0;
    cursor: url(img/core-img/back.png), auto !important;
    z-index: 9;
}

.instargram_area .owl-next {
    position: absolute;
    width: 10%;
    background-color: transparent;
    height: 100%;
    top: 0;
    right: 0;
    cursor: url(img/core-img/next.png), auto !important;
}




.footer-social-area {
    border-bottom: 1px solid #eeeeee;
    padding: 50px 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.single-icon > a {
    color: #51545f;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.single-icon > a:hover {
    color: #fc6c3f;
}

.single-icon > a > i {
    font-size: 16px;
    padding-right: 12px;
}

.footer-content {
    padding: 50px 0 65px 0;
    border-bottom: 1px solid #eeeeee;
}

.footer-logo-area .nhathoang-logo {
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 60px;
    margin-bottom: 0;
    padding: 0 0 20px 0;
    display: inline-block;
    color: #232d37;
}

.copy_right_text {
    width: 100%;
    height: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.copy_right_text > p {
    font-size: 14px;
    color: #b5aec4;
    margin-bottom: 0;
}

.footer_area .navbar.navbar-expand-lg .navbar-nav .nav-link {
    padding-bottom: 0;
}





.single-widget-area {
    margin-bottom: 50px;
}

.widget-title > h6 {
    background: #fee2d9;
    height: 40px;
    width: 100%;
    line-height: 40px;
    border-radius: 2px;
    margin-bottom: 30px;
}

.about-me-widget-thumb img {
    height: 200px;
    width: 200px;
    margin: auto;
    border-radius: 50%;
}

.about-me-widget h4 {
    margin: 15px 0;
    font-weight: 400;
}

.about-me-widget p {
    color: #51545f;
    margin-bottom: 0;
}

/* subscribe_follow_area */

.subscribe-link > a {
    font-size: 14px;
    color: #51545f;
    padding: 0 15px;
}

.subscribe-link > a:hover {
    color: #fc6c3f;
}

.subscribe-link {
    padding-top: 20px;
}

/* popular post */

.popular-post-widget .single-populer-post img {
    margin-right: 10px;
    border-radius: 20px;
    margin-bottom: 30px;
    -ms-flex-item-align: center;
    align-self: center;
}

.popular-post-widget .single-populer-post:last-of-type img {
    margin-bottom: 0;
}

.popular-post-widget .single-populer-post img {
    width: calc(50% - 10px);
}

.popular-post-widget .single-populer-post img,
.popular-post-widget .single-populer-post .post-content {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
}

.popular-post-widget .single-populer-post .post-content {
    margin-left: 10px;
}

.popular-post-widget .single-populer-post .post-content > p {
    font-size: 14px;
    color: #b5aec4;
    font-weight: 400;
    margin-bottom: 0;
}

/* Add Widget */

.add-widget .add-widget-area {
    position: relative;
    z-index: 1;
}

.add-widget .add-widget-area img {
    border-radius: 30px;
}

.add-widget .add-widget-area:before {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    content: '';
    background-color: rgba(30, 29, 29, 0.8);
    z-index: 1;
    border-radius: 30px
}

.add-widget .add-text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
}

.add-widget .add-text h2,
.add-widget .add-text p {
    color: #fff;
}

.add-widget .add-text p {
    font-size: 14px;
}

.add-widget .add-text a {
    min-width: 130px;
    height: 40px;
    border: 1px solid #fc6c3f;
    color: #fc6c3f;
    font-size: 12px;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 30px;
    line-height: 40px;
}

.add-widget .add-text a:hover {
    border: 1px solid #fc6c3f;
    color: #fff;
    background-color: #fc6c3f;
}

/* Newsletter Widget CSS */

.newsletter-widget p {
    font-size: 14px;
}

.newsletter-form {
    position: relative;
    z-index: 1;
}

.newsletter-form input {
    width: 100%;
    height: 40px;
    background-color: #f5f5f8;
    border: 1px solid #e1e1e1;
    border-radius: 30px;
    padding: 0 20px;
    font-size: 14px;
    color: #b5aec4;
}

.newsletter-form button {
    width: 40px;
    height: 40px;
    background-color: #fc6c3f;
    border: none;
    color: #fff;
    border-radius: 30px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9;
    cursor: pointer;
}

/* Categories */
.title {
    color: #1a1a1a;
    text-align: center;
    margin-bottom: 10px
}

.content {
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: auto;
    overflow: hidden
}

.content .content-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 99%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s
}

.content:hover .content-overlay {
    opacity: 1
}

.content-image {
    width: 100%
}

img {
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px
}

.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s
}

.content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1
}

.content-details h3 {
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase
}

.content-details p {
    color: #fff;
    font-size: 0.8em
}

.fadeIn-bottom {
    top: 80%
}